@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-primaria: #FFFFFF;
    --cinza-secundaria: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-primaria: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-primaria);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url("/assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-weight: 700;
    font-size: 1.75rem;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    color: var(--branco-primaria);
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: #3c92fa;
    color: var(--cor-de-fundo);
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-primaria);
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundaria);
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 3rem;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    color: var(--branco-primaria);
    margin-bottom: 0.5rem;
}

.descricao__texto {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza-secundaria);
    
}

.botao__terciario {
    display: inline-block;
    margin-top: 0.5rem;
}

.secundario__imagem {
    margin-left: 2rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    color: var(--branco-primaria);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
    gap: 3.5625rem;
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-primaria);
}

.rodape {
    display: flex;
    flex-direction: column;
    margin: 9.06rem 7.5rem 7.5rem 7.5rem;
    align-items: center;
    gap: 2rem;
}

.rodape__logo {
    display: flex;
    justify-content: center;
    width: 6.375rem;
}

.rodape__lista {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    color: var(--branco-primaria);
}

.lista__link {
    text-decoration: none;
    color: var(--branco-primaria);
}

.lista__link:hover {
    color: aqua;
}

.lista__link:active {
    color: bisque;
}

.rodape__texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--cinza-secundaria);
    text-align: center;
    font-size: 0.875rem;
}

.divisao__texto {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-primaria);
}